<a href="https://colab.research.google.com/github/JackyBruceIbarra/Numerical-Methods/blob/main/Control_and_Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##If Statement

In [ ]:
a = 12
b = 100

if b>a:
  print("b is greater than a")

##If.. ELif Statement

In [16]:
a = 100
b = 100

if b>a:
    print("b is greater than a")
elif a==b:
  print("a and b are equal")

##Else Statement

In [19]:
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

##Short Hand If Statement

In [20]:
if a>b: print("a is greater than b")

a is greater than b

##Short Hand If.. Else Statement

In [21]:
print("b is greater than a")if b>a else print("a is greater than b")

a is greater than b

##And-if both conditions are true

In [22]:
a = 100
b = 10
c = 45

if a>b and c>b:
  print("Both conditions are true")

Both conditions are true

##Or-if one of the conditions is true

In [23]:
if a>b or b>c:
  print("One condition is true")

One condition is true

##Nested If

In [29]:
x = 41

if x>10:
  print("x is above 10")
  if x>20:
   print("x is above 20")
   if x>30:
     print("x is above 30")
     if x>40:
       print("x is above 40")
       if x>50:
         print("x is above 50")
       else:
         print("x is below 50")
else:
  print("x is below 10")

x is above 10
x is above 20
x is above 30
x is above 40
x is below 50

##Application 1

In [ ]:
age = int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

##Applicaation 2

In [ ]:
x = int(input())
if x>0:
  print("x is a positive number")
elif x==0:
  print("x is a zero")
else:
  print("x is a negative number")

##Application 3- Write a program to determine if the grades are:

grade>= 70, "Passed"
grade = 64 to 69 "Remedial"
grade< 6, "Failed

##For Loop

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Fruiday","Saturday"]

for x in week:
  print(x)

##The break Statement

In [ ]:
for x in week:
  print(x)
  if x == "Friday":
    break

##Looping through a string

In [ ]:
for x in "week":
  print(x)

##Range()Function

In [ ]:
for x in range(6):
  print(x)

In [ ]:
for x in range(2,6):
  print(x)

In [ ]:
i = 1

while |<6:
    print(i)
  i+=1 #same as i = i+1

##The break statement

In [ ]:
i = 1

while |<6:
  print(i)
  if i == 3:
    break

  i+=1 #same as i = i+1

##The continue statement

In [ ]:
i = 1

while |<6:
  i+=1
  if i == 3:
    continue
    print(i)